@import "../../variables.scss";
#wholePostContainer {
  width: $hundredWidth;

  .images {
    width: $hundredWidth;
  }
  .postHeader {
    @include flexRow;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    font-size: 15pt;
  }
  .postHeaderUserInfoContainer {
    @include flexRow;
    font-size: 15pt;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
  }
  .postHeaderPic {
    height: 4vh;
    width: 4vh;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px;
    margin: 10px 20px 10px 0;
    border: 1px solid;
  }
  .postMenu {
    width: 30%;
    @include flexRow;
    justify-content: space-between;
  }
  .likeCommentSendSaveContainer {
    @include flexRow;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    font-size: 25pt;
    font-weight: 100;
  }

  #commentIcon {
    margin: 0px 15px;
  }
  #likedHeart {
    color: red;
  }
  #unlikedHeart {
    color: black;
  }
  #likeDisplay {
    display: flex;
    font-size: 15pt;
    font-weight: bold;
    padding-left: 2%;
  }
  p {
    margin: 0;
    text-decoration: none;
  }
  #captionContainer {
    @include flexColumn;
    text-align: left;
    padding-left: 4%;
    font-size: 15pt;
    width: $hundredWidth;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  #captionEditSubmit {
    color: $blueText;
  }

  #caption {
    width: $hundredWidth;
  }

  #allCommentsContainer {
    @include flexColumn;
    text-align: left;
    font-size: 15pt;
    width: 98%;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-bottom: 4%;
  }
  #viewComments {
    padding-left: 4%;
    font-size: 15pt;
    text-align: left;
    margin-bottom: 4%;
  }

  #addCommentContainer {
    @include flexRow;
    justify-content: flex-start;
    width: $hundredWidth;
    padding-left: 4%;
    box-sizing: border-box;
    font-size: 15pt;
  }

  .addCommentInput {
    border-radius: 10px;
    background-color: none;
    border: none;
    padding: 5px;
    font-size: 15pt;
    transition: none;
    &:focus {
      outline: none;
    }
  }

  #addCommentButton {
    border-radius: 10px;
    color: $blueText;
  }
}
