@import '../../variables.scss';
#wholeFeedContainer {
    @include flexColumn;
    width: $hundredWidth;
    padding-top: 10vh;
}

#stories {
    background-color: rgb(207, 207, 207);
    height: 10vh;
    margin-top: 10vh;
    color: white;
    font-size: 15pt;
}

#feedHeaderContainer {
    position: fixed;
    top: 0;
   @include flexRow;
   @include rowCenter;
    width: $hundredWidth;
    overflow: hidden;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    font-weight: bold;
    color: black;
    background-color: white;
    padding: 0px 0;
    // box-sizing: border-box;
    
}
.feedPostContainer {
    width: $hundredWidth;
        box-sizing: border-box;
    }

    @media screen and (min-width: 1100px) {
        #feedHeaderContainer {
            position: fixed;
            top: 0;
            @include flexRow;
            @include rowCenter;
            width: 750px;
            font-family: 'Dancing Script', cursive;
            font-size: 3em;
            font-weight: bold;
            color: black;
            padding: 0px 0;
            
        }
        #wholeFeedContainer {
            display: flex;
            flex-direction: column;
            width: $hundredWidth;
        }
        
      }