@import '../../variables.scss';

#eachWholePostContainer {
    @include flexColumn;
    align-items: center;
    justify-content: center;
    width: $hundredWidth;
    border: 1px solid;
}
.myImages {
    width: $hundredWidth;
}
