
#wholeFeedContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    // max-width: 600px;
}

#stories {
    background-color: rgb(207, 207, 207);
    height: 10vh;
    margin-top: 7vh;
    color: white;
    font-size: 15pt;
}

#feedHeaderContainer {
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 7vh;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    font-weight: bold;
    color: black;
    background-color: white;
    
}
.feedPostContainer {
        width: 100vw;
        box-sizing: border-box;
    }

