#wholeProfile {
    width: 100vw;
}
#profileHeader {
    display: flex;
    padding: 0 2% 0 45%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    width: 100vw;
    font-size: 18pt;
}

#profPicUserStatsContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    align-items: center;
    box-sizing: border-box;
}

#statsContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    width: 70%;
    padding-right: 2%;
    box-sizing: border-box;
    // border:1px solid black;
}

#profilePic {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
}

.statsWords {
    font-size: 10pt;
}

#editProfileButton {
    width: 90%;
    border-radius: 5px;
    background-color: rgb(250, 249, 249);
    border: 1px solid rgb(226, 226, 226);
    
}

// #allMyPostsContainer {

// }


#allMyPostsContainer {
    width: 100vw;
}
#editProfileButtonContainer {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    // align-items: center;
    margin: 20px 0;
    
}