.galleryImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // overflow: hidden;
    // padding:  0;
    // margin: 0;
}

.gallery_item_0 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .gallery_item_7 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 7;
    }
    
    .test{

    background: red;
}