  #wholeAddPostContainer {
      display: flex;
      width: 100%;
      height: 90vh;
      flex-direction: column;
      // justify-content: space-around;
      align-items: center;
      // align-content: center;
      padding-top: 10vh;
      padding-bottom: 15vh;
         // border: 1px solid;

  }

  // .dropzonecontainer {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-end;
  //   align-items: center;
  //   height: 70vh;
  //   width: 100%;
  //   background-color: yellow;
  // }

  #placeholderImage {
    width: 100%;
  }
  // #imgPlaceholder {
  //     // height: 30vh;
  //     width: 80%;
  //     background-color: lightblue;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     color: white;
  //     font-size: x-large;
  // }
  // #imgPreview {
    
  //   width: 50%;
  //   background-color: lightblue;
  // }

  // #selectFile {
  //   display: flex;
  //   justify-content: center;
    
  //   border-radius: 10px;
  //   width: 40vh;
  //   padding: 10px;
  //   background-color: #3599E9;;
  //   font-size: 15pt;
  //   color: white
  // }

  #inputContainer {
    height: 8em;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
      align-items: center;
  }
  .inputs {
    width: 90%;
    // height: 50%;
    font-size: 15pt;
    background-color: rgba(161, 161, 161, 0.253);
    border-radius: 10px;
    border: 1px solid rgba(155, 155, 155, 0.377);
    // padding-left: 30px;
    padding: 8px;
    box-sizing: border-box;
    transition: ease .5s;
    &:focus {
      outline: none;
    }
  }


  .addPostButton {
    background-color: rgba(53, 152, 233, 0.493);
    width: 90%;
    padding: 10px;
    margin: 0 30px;
    font-size: 15pt;
    border-radius: 10px;
    border: none;
    color: white;
      transition: background-color .5s ;
    &:hover {
      background-color: rgb(53, 152, 233)
    }
    &:focus {
      outline: none;
    }
}
@media screen and (min-width: 1100px) {
  #inputContainer {
    height: 8em;
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
      align-items: center;
  }
  
}

@media screen and (min-width: 1100px) {
  #placeholderImage {
    width: 70%;
  }
}