#notification_page {
    width: 100%;
}
.notificationContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 9vh;
    padding: 0 10px;
    // background-color: lightblue;
    border-bottom: 2px solid rgb(214, 214, 214);

}
.message {
    margin-left: 5px;
    width: 65%;
    min-height: 6vh;
    font-size: 15pt;
    // background-color: lightblue;
    overflow-wrap: break-word;
    
}
.senderProfPic {
    height: 6vh;
    width: 6vh;
    object-fit: cover;
    border-radius: 50%;
}

.postThumbnail {
    width: 6vh;
    height: 6vh;
    object-fit: cover;
}

#followBtn{
    background-color: rgba(43, 153, 243, 0.753);
    border-radius: 5px;
    border: none;
    color: white;
      transition: background-color .5s ;
    &:hover {
      background-color: rgb(53, 152, 233)
    }
    &:focus {
      outline: none;
    }
}

#unfollowBtn{
    background-color: rgba(43, 153, 243, 0.753);
    border-radius: 5px;
    border: none;
    color: white;
      transition: background-color .5s ;
    &:hover {
      background-color: rgb(53, 152, 233)
    }
    &:focus {
      outline: none;
    }
}