@import "../../variables.scss";


#eachComment {
    @include flexRow;
    justify-content: space-between;
    width: $hundredWidth;
    padding: 0 4%;
    // border: 1px solid blue;
    box-sizing: border-box;
}

#commentMenu {
@include flexRow;
   justify-content: space-between;
   width: 20%;
}
.commentButtons {
    margin: 0 10px;
}

#editCommentSubmit {
    color: $blueText;

}

#editCommentInputButtonContainer {
    display: flex;
}