#eachComment {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 4%;
    // border: 1px solid blue;
    box-sizing: border-box;
}

#commentMenu {
   display: flex;
   justify-content: space-between;
//    border: 1px solid;
   width: 20%;
}
.commentButtons {
    margin: 0 10px;
}

#editCommentSubmit {
    color: #3599E9;

}

#editCommentInputButtonContainer {
    display: flex;
}