@import './Components/addPost/AddPost.scss';
@import './variables.scss';

.App {
  @include flexColumn;
  
  width: $hundredWidth;
    align-items: center;
    // text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-bottom: 8vh;
    min-height: 100vh;
    
    box-shadow: 5px 5px 10px 5px grey;
    
  }
  * {
    box-sizing: border-box;
  }

  #wholeThing {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
  }

  @media screen and (min-width: 1100px) {
    .App {
      max-width: 750px;
    }
  }